<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<P3_PaymentGateway>
				<active>1</active>
				<title>Pay with P3</title>
				<order_status>pending</order_status>
				<successful_status>processing</successful_status>
				<unsuccessful_status>canceled</unsuccessful_status>
				<debug>n</debug>
				<payment_action>true</payment_action>
				<model>P3\PaymentGateway\Model\Gateway</model>
			</P3_PaymentGateway>
		</payment>
	</default>
</config>
